
  <h1>All Products</h1>
<% products.forEach(function(product){ %>
<div>
<h2><%=product.title%></h2>
<div><p>Price: <%=product.price%></p></div>
<div><p>Description: <%=product.description%></p></div>
<div><p>Location: <%=product.location%></p></div>
<div><a href="/products/<%=product.id%>">View More</a></div>
</div>
<% }); %>

