<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  
  <!-- Mapbox GL JS -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.js"></script>


<style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    width: 400px;
    height: 300px;
  }

  .marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 300px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
</style>

</head>
<body>
<h1><%= product.title %></h1>
<div><p>Price:<%= product.price.toFixed(2) %></p></div>
<div><p>Description: <%= product.description %></p></div>
<div class="product-images">
  <% product.images.forEach(image => { %>
    <img src="<%= image.url %>" alt="<%= product.name %>" width="300">
  <% }) %>
</div>
<div id="map"></div>
<div>
  <a href="/products/<%= product._id %>/edit">
    <button>Edit Product</button>
  </a>
</div>
<br />
<div>
  <form
    action="/products/<%=product._id %>?_method=DELETE"
    method="POST"
    onsubmit="return confirm('Are you sure you want to delete this product?');"
  >
    <input type="submit" value="Delete" />
  </form>
</div>
<script>
var product = <%- JSON.stringify(product) %>;
mapboxgl.accessToken = 'pk.eyJ1IjoibWFrdHBuIiwiYSI6ImNtaG5ybGIzMjAzMG8yaXNpOTBwZ3BxN3QifQ.zL-xsr61P461W4oGBf4TpQ';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v9',
  center: product.coordinates,
  zoom: 4
});

// create a HTML element for our post location/marker
var el = document.createElement('div');
el.className = 'marker';

// make a marker for our location and add to the map
new mapboxgl.Marker(el)
.setLngLat(product.coordinates)
.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
.setHTML('<h3>' + product.title + '</h3><p>' + product.location + '</p>'))
.addTo(map);

    </script>
</body>
</html>
